* {
    cursor: pointer;
    font-family: Pretendard, -apple-system, "system-ui", system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
/* top banner */
.outer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 227, 252);
}
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1232px;
    height: 22px;
    background-color: rgb(247, 227, 252);
    padding: 10px 24px;
    margin: 0 116px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    color: rgb(196, 79, 235);
    font-weight: bold;
}

.box img:first-of-type {
    margin-right: auto;
    width: 52px;
    height: 46px;
}

/* menu bar */
.nav-box {
    background-color: white;
    border-bottom: 0.5px solid lightgrey;
    width: 1512px;
    height: 63px;

    position: sticky; 
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 999;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1312px;
    height: 63px;
    margin: 0 124px;
    font-weight: bolder;    
}
.nav-items {
    display: flex;
    align-items: center;
}
.menu-orange {
    padding: 16px 20px;
    color: rgb(238, 127, 53)
}
.menu-black {
    padding: 16px 20px;
}
.nav-items img {
    width: 108px;
    height: 16px;
    padding: 24px 18px;
}
.nav-right {
    margin-left: auto;
    padding-right: 70px;
    color: grey;
}
.divider {
    margin: 0 10px;
    font-weight: lighter;
}

/* middle banner */
.middle-banner{
    display: flex;
    align-items: top;
    width: 1512px;
    height: 400px;
    background-color: rgb(255, 243, 235);
}
.middle-banner img {
    padding: 0px 110px;
}
.inside-banner {
    position: absolute;
    padding: 24px 24px;
    margin: 50px 116px;
}
.top-text {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}
.middle-text {
    color: rgb(230, 122, 45);
    margin-top: -1px;
    font-size: 36px;
}
.bottom-text{
    font-size: 18px;
    padding-bottom: 30px;
}
.text-yellow {
    color: rgb(255, 119, 16);
}

/* bottom objects */
.bottom-objects {
    padding: 0px 24px;
    width: 1216px;
    height: 520px;
    margin: 80px 116px;
    margin-bottom: 0px;
}
.bottom-objects-text1 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(238, 127, 53);
    margin-bottom: 10px;
}
.bottom-objects-text2 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bolder;
}

/* grid */
.flex-grid {
    display: flex;
    justify-content: space-between;
    width: 1232px;
    margin-top: 40px;
    padding-left: 0px;
    position: relative;
    z-index: 1;

}
.column {
    flex: 1;
    text-align: center;
    height: 416px;
    width: 290px;
    text-align: left;
    list-style: none;
}
.column-inside {
    padding-top: 16px;
    width: 290px;
}
.column1-text0 {
    align-items: center;
    border: 1px solid rgb(59, 130, 246);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(29, 78, 216);
    display: inline-flex;
    font-size: 14px;
    font-variation-settings: normal;
    font-weight: 600;
    height: auto;
    line-height: 21px;
    padding: 4px 8px;
    text-size-adjust: 100%;
    width: auto;
}
.column1-text1 {
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
}
.column1-text2 { 
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 400;
    height: 54px;
    text-size-adjust: 100%;
    width: 290px;
    line-height: 27px;
    word-break: keep-all;
}
.column1-text3 {
    width: 290px;
    height: 24px;
    color: rgb(163, 163, 163);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    margin-top: 16px;
    text-align: left;
}

/* bottom banner */
.bottom-banner {
    position: relative;
    /*z-index: 2;*/
    display: flex;
    background-color: rgb(241, 244, 249);
    width: 1512px;
    height: 206px;
    margin-top: 80px;
}
.bottom-banner img {
    display: flex;
    align-items: center;
    width: 1232px;
    padding-left: 24px;
    margin-left: 116px;
}
.bottom-banner-box {
    position: absolute;
    margin: 0px 120px;
    padding: 0px 24px;
    text-align: left;
}
.bottom-banner-text {
    border: 0;
    border-color: rgb(229, 229, 229);
    border-style: solid;
    border-width: 0;
    border-image: none;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 206px;
    justify-content: center;
    line-height: 24px;
    padding-top: 16px;
    position: relative;
}
.bottom-banner-text1 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(7, 44, 86);
    margin-top: 0px;
    margin-bottom: 8px;
}
.bottom-banner-text2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 36px;
}
.bottom-banner-text3 {
    font-size: 14px;
    font-weight: 600;
    color: rgb(115, 115, 115);
}

/* help button */
#button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    bottom: 59px;
    display: flex;
    flex-wrap: nowrap;
    height: 98px;
    line-height: normal;
    overflow-x: visible;
    overflow-y: visible;
    position: fixed;
    right: 25px;
    text-size-adjust: auto;
    text-wrap: wrap;
    white-space-collapse: collapse;
    width: 216px;
    z-index: 10;
    border: none;
}

/* preclass alarm */
.preclass-alarm {
    box-sizing: border-box;
    display: block;
    height: 896.5px;
    line-height: 24px;
    margin-left: 116px;
    margin-right: 116px;
    margin-top: 80px;
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;    
}
.preclass-text1 {
    box-sizing: border-box;
    color: rgb(255, 119, 16);
    display: block;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;    
}
.preclass-text2 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-size: 26px;
    font-weight: 600;
    height: 32.5px;
    line-height: 32.5px;
    margin-block-end: 8px;
    margin-block-start: 8px;
    margin-bottom: 8px;    
}
.preclass-text3 {
    margin-bottom: 8px;
    border-color: rgb(229, 229, 229);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    margin-block-end: 8px;
    margin-block-start: 16px;
    margin-bottom: 8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;
    text-align: left;
}
.preclass-text4 {
    margin-bottom: 8px;
    border-color: rgb(229, 229, 229);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-size: 18px;
    font-weight: 400;
    height: 54px;
    line-height: 27px;
    margin-bottom: 8px;
    text-align: left;
    width: 290px;
    word-break: keep-all;
}
.preclass-list {
    display: flex;
    justify-content: space-between;
    width: 1232px;
    margin-top: 40px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
    flex: 1;
    text-align: center;
    height: 416px;
    width: 290px;
    text-align: left;
    list-style: none;
    box-sizing: border-box;
    padding-left: 0px;
    margin-top: 40px;
    column-gap: 24px;
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    height: 792px;
    line-height: 24px;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 40px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    padding: 0px 0px;
    row-gap: 24px;
}

.relative img {
    width: 290px;
    height: 221px;
    border-radius: 8px;
    position: relative;
    
}
.preclass-outer-box {
    padding-top: 12px;
}
.apply-alarm {
    align-items: center;
    border-color: rgb(20, 184, 166);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: rgb(5, 150, 105);
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    height: 31px;
    line-height: 21px;
    padding: 4px 8px;
    text-align: center;
}

/* bottom contents */
.bottom-contents {
    border: 0;
    border-color: rgb(229, 229, 229);
    border-style: solid;
    border-width: 0;
    border-image: none;
    box-sizing: border-box;
    display: block;
    height: 377.5px;
    line-height: 24px;
    margin-left: 116px;
    margin-right: 116px;
    margin-top: 80px;
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 100px;
}
.bottom-contents-title {
    height: 64.5px;
    line-height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1232px;
}
.bottom-objects-text3 {
    color: rgb(255, 119, 16);
    display: block;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin: 0px 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-size-adjust: 100%;
}
.bottom-objects-text4 {
    color: rgb(34, 34, 34);
    display: block;
    font-size: 26px;
    font-weight: 600;
    height: 32.5px;
    line-height: 32.5px;
    margin-block-end: 8px;
    margin-block-start: 8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin: 8px 0px;
    text-wrap: wrap;
}
.bottom-tabs {
    display: block;
    height: 281px;
    line-height: 24px;  
}
.class-month {
    color: rgb(34, 34, 34);
    display: block;
    height: 41px;
    line-height: 24px;
    margin: 32px 0px;
    padding: 0px 0px;
}
.table {
    align-items: center;
    column-gap: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 41px;
    justify-content: flex-start;
    line-height: 24px;
    margin-bottom: -2px;
    row-gap: 0px;
    border-bottom: 0.5px solid lightgrey;
}
.button-class {
    align-items: flex-start;
    appearance: button;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(255, 119, 16);
    border-left-style: none;
    border-left-width: 0px;
    border-right-style: none;
    border-right-width: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 119, 16);
    display: block;
    font-size: 20px;    
    padding: 0px 0px;
    margin-right: 24px;
}
.outer-tab-class {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-weight: 600;
    height: 38px;
}
.button-monthly {
    align-items: flex-start;
    appearance: button;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(115, 115, 115);
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    color: rgb(115, 115, 115);
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.button-menu {
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;    
    box-sizing: border-box;
    column-gap: 16px;
    display: flex;
    flex-wrap: wrap;
    height: 156px;
    line-height: 24px;
    margin-top: 24px;
    padding: 24px 24px;
    row-gap: 16px;
}
.menu-objects {
    align-items: flex-start;
    appearance: button;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(229, 229, 229);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: block;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    height: 45px;
    line-height: 27px;
    margin: 0px 0px;
    padding: 8px 12px;
    text-align: center;
    width: auto;
    word-spacing: 0px;   
}
.menu-select {
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    margin: 0px 0px;
}