* {
    cursor: pointer;
    font-family: Pretendard, -apple-system, "system-ui", system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
/* top banner */
.outer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 227, 252);
}
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1232px;
    height: 22px;
    background-color: rgb(247, 227, 252);
    padding: 10px 24px;
    margin: 0 116px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    color: rgb(196, 79, 235);
    font-weight: bold;
}

.box img:first-of-type {
    margin-right: auto;
    width: 52px;
    height: 46px;
}

/* menu bar */
.nav-box {
    background-color: white;
    border-bottom: 0.5px solid lightgrey;
    width: 1512px;
    height: 63px;

    position: sticky; 
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 999;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1312px;
    height: 63px;
    margin: 0 124px;
    font-weight: bolder;
    

    
}
.nav-items {
    display: flex;
    align-items: center;
}
.menu-orange {
    padding: 16px 20px;
    color: rgb(238, 127, 53)
}
.menu-black {
    padding: 16px 20px;
}
.nav-items img {
    width: 108px;
    height: 16px;
    padding: 24px 18px;
}
.nav-right {
    margin-left: auto;
    padding-right: 70px;
    color: grey;
}
.divider {
    margin: 0 10px;
    font-weight: lighter;
}

/* middle banner */
.middle-banner{
    display: flex;
    align-items: top;
    width: 1512px;
    height: 400px;
    background-color: rgb(255, 243, 235);
}
.middle-banner img {
    padding: 0px 110px;
}
.inside-banner {
    position: absolute;
    padding: 24px 24px;
    margin: 50px 116px;
}
.top-text {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}
.middle-text {
    color: rgb(230, 122, 45);
    margin-top: -1px;
    font-size: 36px;
}
.bottom-text{
    font-size: 18px;
    padding-bottom: 30px;
}
.text-yellow {
    color: rgb(255, 119, 16);
}

/* bottom objects */
.bottom-objects {
    padding: 0px 24px;
    
    width: 1216px;
    height: 400px;
    margin: 80px 116px;
    
}
.bottom-objects-text1 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(238, 127, 53);
    margin-bottom: 10px;
}
.bottom-objects-text2 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bolder;
}

/* grid */
.flex-grid {
    display: flex;
    justify-content: space-between;
    width: 1232px;
    margin-top: 40px;
    padding-left: 0px;
    position: relative;
    z-index: 1;

}
.column {
    flex: 1;
    text-align: center;
    height: 416px;
    width: 290px;
    text-align: left;
    list-style: none;
}
.column-inside {
    padding-top: 16px;
    width: 290px;
}
.column1-text0 {
    align-items: center;
    border: 1px solid rgb(59, 130, 246);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(29, 78, 216);
    display: inline-flex;
    font-size: 14px;
    font-variation-settings: normal;
    font-weight: 600;
    height: auto;
    line-height: 21px;
    padding: 4px 8px;
    text-size-adjust: 100%;
    width: auto;
}
.column1-text1 {
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
}
.column1-text2 { 
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 400;
    height: 54px;
    text-size-adjust: 100%;
    width: 290px;
    line-height: 27px;
    word-break: keep-all;
}
.column1-text3 {
    width: 290px;
    height: 24px;
    
    color: grey;

    border-bottom-color: rgb(229, 229, 229);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229, 229, 229);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(229, 229, 229);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(229, 229, 229);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(163, 163, 163);
    cursor: pointer;
    display: block;
    font-family: Pretendard, -apple-system, "system-ui", system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    font-feature-settings: normal;
    font-size: 16px;
    font-variation-settings: normal;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-top: 16px;
    tab-size: 4;
    text-align: left;
    text-size-adjust: 100%;
    width: 290px;
}

/* bottom banner */
.bottom-banner {
    position: absolute;
    z-index: 2;
    margin-top: 80px;
    display: flex;
    background-color: rgb(241, 244, 249);
    width: 1512px;
    height: 206px;
}
.bottom-banner img {
    display: flex;
    align-items: center;
    width: 1232px;
    padding-left: 24px;
    margin-left: 116px;
}
.bottom-banner-box {
    position: absolute;
    margin: 0px 116px;
    padding: 0px 24px;
    text-align: left;
}
.bottom-banner-text {
    border: 0;
    border-color: rgb(229, 229, 229);
    border-style: solid;
    border-width: 0;
    border-image: none;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
    font-feature-settings: normal;
    font-variation-settings: normal;
    height: 206px;
    justify-content: center;
    line-height: 24px;
    padding-top: 16px;
    position: relative;
    tab-size: 4;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
}
.bottom-banner-text1 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(7, 44, 86);
    margin-top: 0px;
    margin-bottom: 8px;
}
.bottom-banner-text2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 36px;
}
.bottom-banner-text3 {
    font-size: 14px;
    font-weight: 600;
    color: rgb(115, 115, 115);
}







/* help button */
#button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;

    bottom: 59px;
    color: rgba(0, 0, 0, 0.85);
    color-scheme: normal;
    display: flex;
    flex-wrap: nowrap;
    
    font-feature-settings: normal;
    font-variation-settings: normal;
    height: 98px;
    line-height: normal;
    overflow-x: visible;
    overflow-y: visible;
    position: fixed;
    right: 25px;
    tab-size: 8;
    text-size-adjust: auto;
    text-wrap: wrap;
    unicode-bidi: isolate;
    white-space-collapse: collapse;
    width: 216px;
    z-index: 10;
    border: none;

}
.help-button {
    aspect-ratio: auto 216 / 98;
    color: rgba(0, 0, 0, 0.85);
    color-scheme: normal;
    cursor: pointer;
    display: block;
    font-family: NotoSansKR, -apple-system, "system-ui", "Helvetica Neue", "맑은 고딕", "Segoe UI", Roboto, "system-ui", "sans-serif";
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 98px;
    letter-spacing: normal;
    line-height: normal;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    tab-size: 8;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    text-size-adjust: auto;
    text-transform: none;
    text-wrap: wrap;
    white-space-collapse: collapse;
    width: 216px;
    word-spacing: 0px;
    
}


