html, body {
  margin: 0;
  padding: 0;
}

.bannerWrapper {
  position: fixed;
  display: block;
  background-color: white;
  height: 64px;
  width: 100vw;
  z-index: 999;
}

.logo {
  display: flex;
  position: relative;
  height: 45px;
  width: 78px;
  margin-right: 30px;
  align-items: center;
  margin-top: -5px;
}

.topBanner {
  position: relative;
  align-items: left;
  display: flex;
  box-sizing: border-box;

  height: 64px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 156px;
  margin-right: 156px;
  width : 1200px;
}

.navBar {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  
}

.navBtn {
  display: inline-block;
  text-align: left;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.navBtnTxtSelected {
  text-decoration: none;
  color: rgb(251, 88, 16);
}

.navBtnTxt {
  text-decoration: none;
  color: black;
}




.topSearchandChat {
  display: flex;
  align-items: center;
  margin-left: auto;

}
#searchBox {
  align-content: center;
  width: 288px;
  height: 40px;
  
  background-color: rgb(242, 243, 246);
  border-radius: 5px;

  margin-right: 11px;
}
#searchBoxTxt {
  margin-left: 11px;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  color: rgb(121, 127, 135);
}
#startChat {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: white;
  border-radius: 5px;
  border-color: rgb(209, 211, 216);
  border-style: solid;
  border-width: 1px;
}
#startChatTxt {
  font-weight: 700;
  font-size: 16px;
}




.mainContent {
  display: block;
  padding-top: 64px;
  padding-bottom: 80px;
  width: 100vw;
  height: 1150px;
}

.midBannerWrapper {
  width: 100vw;
  height: 315px;
  background-color: rgb(252, 221, 202);
  position: relative;
  display: block;
}

.midBannerText {
  margin-left: 356px;
  margin-right: 356px;
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;  
}

#midBannerText1 {
  margin-bottom: 0px;
  margin-top: 0px;
}
#midBannerText2 {
  margin-top: 10px;
}
#midBannerText3 {
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 18px;
}
#midBannerText4 {
  margin-top: 0px;
  font-size: 18px;
  
}
#postRecruitBtn {
  margin-top: 11px;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 111, 15);
  border-style: none;
  border-radius: 5px;
  display: inline-block;
}
#postRecruitBtnTxt {
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 3px;
}
#midBannerImage {
  left: 756px;
  top: -211px;
  display: block;
  position: relative;
  height: 260px;
}

.bottomBannerWrapper {
  display: block;
  margin-left: 372px;
  margin-right: 372px;
}
#bottomBannerTitle {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
}












.jobList {
  display: flex;
  flex-wrap: wrap;
}
.listItemWrapper {
  display: flex;
  position: relative;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.listItem {
  display: block;
  position: relative;
  
}
.listItemTxt {
  display: flex;
  position: relative;  
  margin-left: 120px;
  flex-direction: column;
  padding-right: 15px;

}
#imgPosition {
  display: block;
  align-items: center;
  position: relative;
}
#img {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 108px;
  height: 108px;
  border-radius: 8px;
  object-fit: cover;
  border-image-repeat: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
}
#payment {
  font-size: 16px;
  font-weight: 700;
}
#title {
  margin-bottom: 10px;
  font-size: 18px;

}
#location {
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(134, 139, 148);
}

.bottomBanner{
  width: 768px;
  margin-top: 44px;
  margin-bottom: 64px;
  padding-left: 24px;
  padding-bottom: 28px;
  padding-top: 28px;
  padding-right: 24px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
  background-color: rgb(247, 241, 235);
  margin: 0 auto;
}
.bannerTexts{
  display: flex;
}
#bannerLogo {
  display: inline-block;
  width: 72px;
  height: 72px;
}
#bannerTxt {
  display: inline-block;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  align-self: left;
  margin-left: 20px;
  width: 400px;
}
.bannerButtons {
  display: flex;
  align-items: center;
}
#bannerTxtProperty {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

#freeTrial {
  display: inline-block;
  background-color: rgb(255, 111, 15);
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  margin-left: 60px;

}
#contact {
  display: inline-block;
  background-color: rgb(247, 215, 198);
  color: rgb(255, 111, 15);
  font-weight: 700;
  font-size: 13px;
  border-radius: 5px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}